In [6]:
import pandas as pd
import seaborn as sn

In [9]:
data=pd.read_csv('iris.csv')

In [3]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
data.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

# Data formating

In [11]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [12]:
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [14]:
data['petal_length']=data['petal_length'].astype("int")

In [15]:
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length      int32
petal_width     float64
species          object
dtype: object

#Data normalization

In [16]:
from sklearn import preprocessing

In [18]:
min_max_scaler=preprocessing.MinMaxScaler()

In [19]:
x=data.iloc[:,:4]

In [20]:
x_scaled=min_max_scaler.fit_transform(x)

In [23]:
df_normalized=pd.DataFrame(x_scaled)

In [24]:
df_normalized

            0         1    2         3
0    0.222222  0.625000  0.0  0.041667
1    0.166667  0.416667  0.0  0.041667
2    0.111111  0.500000  0.0  0.041667
3    0.083333  0.458333  0.0  0.041667
4    0.194444  0.666667  0.0  0.041667
..        ...       ...  ...       ...
145  0.666667  0.416667  0.8  0.916667
146  0.555556  0.208333  0.8  0.750000
147  0.611111  0.416667  0.8  0.791667
148  0.527778  0.583333  0.8  0.916667
149  0.444444  0.416667  0.8  0.708333

[150 rows x 4 columns]

#convert categorical data into quantitive variables

In [26]:
data['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [28]:
label_encoder=preprocessing.LabelEncoder()

In [29]:
data['species']=label_encoder.fit_transform(data['species'])

In [30]:
data['species'].unique()

array([0, 1, 2])